*{padding: 0; margin: 0;}
body{position: relative; font-family: Calibri, sans-serif; width: 100%; background-color: #000;}
div{color: #fff;}
a:link{color: #999; text-decoration: none;}
a:visited{color: #999; text-decoration: none;}
a:hover{color: #999; text-decoration: none;}
a:active{color: #999; text-decoration: none;}
.cjoStandardHalfContent{margin: 0; padding: 0;}
.container, .container-fluid{position: relative; z-index: 2;}

.cjoFixedBackground{z-index: 1; position: fixed; width: 100%; height: 100%; background-image: url("../images/background/home.png"); background-size: cover; background-position: center center;}
#cjoHeader{width: 100%; height: 50px; background-color: #fff; position: fixed; z-index: 1000;}
.cjoHeaderLogo{width: 140px; height: 29px; position: absolute; top: 50%; left: 20px; margin-top: -15px;}
.cjoHeaderMenuMobile{width: 32px; height: 24px; position: absolute; top: 50%; margin-top: -12px; right: 10px; cursor: pointer;}
.cjoHeaderMenuButton{width: 32px;}
.cjoHeaderLinkTable{display: none;}

#cjoMainContainer{padding-top: 200px;}
#cjoHomePageTitleText{width: 100%; font-size: 150%; text-align: center; margin-bottom: 250px;}
#cjoMobileDropdownMenu{width: 100%; height: auto; position: fixed; right: 0px; top: 50px; padding-left: 20px; padding-top: 20px; z-index: 2; background-color: rgba(255, 255, 255, 0.9); display: none;}
.cjoMobileDropdownOption{color: #999; text-align: left; margin-left: 10px; cursor: pointer; margin-bottom: 8px;}
.cjoMobileSocialMediaTable{width: 260px; margin-top: 20px; margin-bottom: 20px; margin-left: 10px;}
.cjoMobileSocialMediaLink{width: 30px; margin-right: 10px;}

.cjoParallaxBox{font-size: 120%; background-color: rgba(100, 100, 100, 0.5); margin-right: 5%; margin-left: 5%; margin-bottom: 30px; width: 90%; padding-left: 20px; padding-right: 20px; padding-bottom: 20px; border-radius: 5px;}
.cjoParallaxBoxHeading{width: 100%; text-align: center; font-size: 140%;}

.cjoContentHeader{width: 100%; height: auto; background-color: #fff; margin-bottom: 20px; padding-top: 10px; padding-bottom: 10px;}
.cjoContentImage{width: 90%; margin-left: auto; margin-right: auto; display: block;}
.cjoContentText{width: 80%; margin-left: auto; margin-right: auto; text-align: left; font-size: 130%; padding-bottom: 100px; padding-top: 50px;}
.cjoContentSpacer{display: none;}

.cjoManufacturerStacked{width: 90%; display: none;}
.cjoFooterRow{display: none;}
.cjoMobileBackToTop{width: 40px; position: absolute; bottom: 20px; right: 20px; z-index: 2;}

@media screen and (min-width: 768px)
{
	.cjoHeaderMenuMobile{display: none;}
	.cjoHeaderLinkTable{display: block; height: 20px; position: absolute; right: 0px; top: 50%; margin-top: -10px; padding-right: 20px;}
	.cjoHeaderLink{margin-right: 10px;}
	
	#cjoHomePageTitleText{font-size: 230%; margin-bottom: 150px;}
	
	.cjoParallaxBox{height: 150px; margin-left: 10px; margin-right: 10px; margin-bottom: 0px; font-size: 90%; border-radius: 0px;}
	.col-sm-4{padding: 0px;}
	
	.cjoContentHeader{background-color: #eee; padding-top: 70px;}
	.cjoContentImage{width: 80%;}
	.cjoStandardHalfContent{background-color: #eee; margin-bottom: 10px;}
	.cjoContentText{ color: #999;}
	.cjoContentText > br{display: none;}
	
	.cjoBottomContainer{padding-top: 10px; background-color: #fff;}
	
	.cjoManufacturerStacked{width: 90%; display: block; margin-left: auto; margin-right: auto; margin-top: 30px; margin-bottom: 30px;}
	
	.cjoMobileBackToTop{display: none;}
	
	.cjoFooterRow{background-color: #eee; display: block; padding-top: 30px;}
	.cjoFooterColumn{background-color: #eee; margin-bottom: 20px;}
	.cjoMobileSocialMediaTable{margin-left: auto; margin-right: auto; margin-top: 0px; margin-bottom: 0px;}
	.cjoFooterCopyright{text-align: center; color: #999;}
}

@media screen and (min-width: 992px)
{
	.cjoStandardHalfContent{margin-left: 0.5%; margin-right: 0.5%; width: 49%;}
	.cjoContentHeader{min-height: 235px; position: relative;}
	.cjoContentImage{width: 389px; height: 103px;}
	.cjoContentText{min-height: 290px;}
	.cjoContentSpacer{display: block; width: 100%; height: 5px; background-color: #fff; position: absolute; bottom: 0px;}

	
	.cjoMobileSocialMediaTable{margin-right: 0; margin-left: auto;}
	.cjoFooterCopyright{margin-left: 0; margin-right: auto; text-align: left;}
}
@media screen and (min-width: 1200px)
{
	.cjoContentImage{width: 450px; height: 119px;}
}